
/midterm_paper_yong
/Installation_Guide/git_ignore
Report/report.bbl
Report/report.aux
Report/report.blg
Report/report.fdb_latexmk
Report/report.fls
Report/report.log
Report/report.out
Report/report.synctex.gz
